# Arquivos de cache e compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Extensões C
*.so

# Distribuição / Pacotes
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFES

# PyInstaller
*.spec

# Logs de instaladores
pip-log.txt
pip-delete-this-directory.txt

# Relatórios de teste e cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Traduções
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Documentação Sphinx
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Ambientes virtuais
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configurações de IDEs
.vscode/
.idea/
.spyderproject
.spyderworkspace
.ropeproject
*.json
*.pdf

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

.DS_Store
